@import url('https://fonts.googleapis.com/css2?family=Dawning+of+a+New+Day&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');


.bg-hero {
    background-image: url("../images/hero-lg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 90rem;
}

.btn-text {
  font-size: 1.6rem;
}

.fs-12{
  font-size: 12.8rem;
}

.flip-img {
  transform: scaleX(-1) !important;
}

.pt-30rem {
    padding-top: 30rem !important;
  }


h1 {
  font-family: 'Dawning of a New Day', cursive;
}

.h2-lg {
font-size: 4.6rem;
}

.h3-lg {
  font-size: 3.2rem;
}

.h5 {
  font-size: 1.6rem !important; 
}

.h6 {
  font-size: 2.4rem;
  text-transform: uppercase;
  font-weight: 500;
}

.h6 p {
  margin-left: 2.5rem;
  margin-top: 2.5rem;
}

.h7 {
  font-size: 1.4rem;
  color: #826761;
}

input::placeholder {
  color: #826761;
}

input.form-control,
textarea.form-control {
  border: none;
  border-bottom: 2px solid;
  border-radius: 0;
}

input.form-control:focus,
textarea.form-control:focus {
  box-shadow: none !important;
  border-bottom: 2px solid !important;
}

body {
  font-family: 'Lora', serif;
}

html {
  font-size: 10px;
}

.nav-item {
  font-size: 1.6rem;
}

.navbar-sticky {
  opacity: 0.9;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.navbar {
  transition: all 0.5s ease-in-out;
}

select.form-control {
  border: none;
  border-bottom: 2px solid;
  border-radius: 0;
    /* appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none; */
}

select.form-control:focus {
  box-shadow: none;
  border-bottom: 2px solid;
}

.width-1 {
  width: 22.8rem;
}